In [29]:
import os

In [30]:
os.makedirs(os.path.join('..','data'), exist_ok=True)

In [31]:
data_file = os.path.join('..','data','house_tiny.csv')

In [32]:
os.path

In [33]:
with open(data_file,'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [34]:
import pandas as pd

In [35]:
data = pd.read_csv(data_file)

In [36]:
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [37]:
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [38]:
inputs, outputs = data.iloc[:,0:2],data.iloc[:,2]

In [39]:
inputs = inputs.fillna(inputs.mean(numeric_only=True))

In [40]:
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [41]:
print(outputs)

0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64

In [47]:
inputs = pd.get_dummies(inputs, dummy_na=True).astype(int)

In [48]:
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0         3           1          0
1         2           0          1
2         4           0          1
3         3           0          1

In [49]:
import torch

In [52]:
X,y = torch.tensor(inputs.to_numpy(dtype=float)), torch.tensor(outputs.values)

In [53]:
X,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))

In [55]:
X.shape

torch.Size([4, 3])

In [57]:
X.dim()

2